@font-face {
    font-family: regular;
    src: url("../fonts/montserrat-regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: semibold;
    src: url("../fonts/montserrat-semibold.ttf");
    font-display: swap;
}