@use 'fonts';


$color: rgb(72, 179, 62);
$borderColor: #333;
$backgroundColor: #fff;
$regular: regular;
$semibold: semibold;




html {
    font-family: $regular;
    color: $color;
}
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: regular;
}

input::placeholder {
    color: #ccc;
}