include pug/mixins/_all

doctype html
html
  include pug/_head
    title Zagar Tania!
    +jquery()
    +swiper()
    +maskedinput()
    
  body
    .container
      //- +image('Capture001', 'png')
      .swiper.swiper-container
        .swiper-wrapper
          .swiper-slide Slide 1
          .swiper-slide Slide 2
          .swiper-slide Slide 3
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next

      a(href='contacts.html') Click me!
      
      input(type='text' placeholder='+7 (999) 999-9999' class='phone')



  