include pug/libs/_libs

doctype html
include pug/_head
body
  .container
    //- h1 Zagar Tania!!!
    //- +image('Capture001', 'png')
    .swiper
      .swiper-wrapper
        .swiper-slide Slide 1
        .swiper-slide Slide 2
        .swiper-slide Slide 3
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    a(href='contacts.html') Click me!



  